# Prerequisites
*.d

# Compiled Object files
*.o

# Precompiled Headers
*.gch
*.pch

# vcode
.vcode

# support files
gwys.txt
system/qndash.service

# Executables
qngateway
qnlink
qnrelay
qnremote
qnvoice
